.frame {
    padding: 10px 10px;
    border-radius: 10px;
}

.favorite {
    background-color: rgba(255, 170, 170, 0.211);
    box-shadow: 1px 3px 14px -7px #39608d;
}

.hated {
    background-color: rgba(134, 120, 254, 0.209);
    box-shadow: 1px 3px 14px -7px #39608d;
}

.allergy {
    background-color: rgba(255, 251, 0, 0.209);
    box-shadow: 1px 3px 14px -7px #39608d;
}