.frame {
    display: inline-block;
    width: 70%;
    min-width: 480px;
    max-width: 700px;
    margin: 0 10px;
    padding: 20px;
    background-color: #fcfcfc;
    border-radius: 10px;
    text-align: left;
    overflow: auto;
}

@media screen and (max-width:850px) {
    .frame {
        padding-top: 10px;
        margin: 0;
    }
}