.frame {
    position: absolute;
    top: 75px;
    background-color: #fcfcfc;
    width: 200px;
}

.list {
    height: 50px;
    display: flex;
    border-bottom: 1px solid #00000030;
    color: #39608d;
}

.list:hover {
    background: rgba(206, 206, 206, 0.8);
}

.icon {
    padding: 10px 0 10px 10px;
}

.text {
    padding: 15px 0 15px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}