.frame {
    position: fixed;
    background-color: #fcfcfc;
    display: flex;
    height: 75px;
    width: 100%;
    box-shadow: 1px 3px 14px -3px #39608d;
}

.body {
    margin: 0 0 0 auto;
    display: flex;
}


