.frame {
    position: absolute;
    top: 75px;
    background-color: #fcfcfc;
    width: 200px;
}

.element {
    width: 200px;
    height: 50px;
}

.element:hover {
    background-color: #f1f1f1;
}

.sign_out {
    width: 200px;
    height: 50px;
    background-color: red;
    color: #fcfcfc;
}

.sign_out:hover {
    background-color: rgba(255, 0, 0, 0.4);
}

.text {
    margin-left: 15px;
}

@media screen and (max-width:720px) {
    .frame {
        right: 0;
    }
}