.frame {
    text-align: center;
    background-color: #fcfcfc;
    margin: 100px auto;
    padding: 30px;
    border-radius: 8px;
    width: 500px;
}

.header {
    margin-bottom: 30px;
}

.greeting {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;   
}

.signin {
    width: 382px;
    margin: 20px auto 0;
}

.signin:hover {
    background: rgba(206, 206, 206, 0.8);
}