.frame {
    background-color: #fcfcfc;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    text-align: center;
}

.header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.create_group {
    text-align: center;
    margin: 20px 80px;
    padding: 20px;
    background-color: #00d20e;
    border-radius: 8px;
}

.create_group:hover {
    background: rgba(0, 210, 14, 0.5);
}

.create_group_text {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.footer {
    text-align: center;
}