.frame {
    display: inline-block;
    position: fixed;
    bottom: calc(100% - 150px);
    right: 50%;
    transform: translateX(50%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 3px 14px -3px #39608d;
}

.success {
    background-color: #7281ff;
}

.failed {
    background-color: rgb(219, 67, 67);
}