body {
    background: #e3f6d7;
    margin: 0;
    padding: 0;
    min-width: 1050px;
    min-height: 800px;
    position: relative;
}

.button {
    border: none;
    background: transparent;
    display: flex;
    align-items: flex-start;
    padding: 0;
    height: 100%;
    width: 100%;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.link {
    text-decoration: none;
    display:block;
    height: 100%;
    width: 100%;
    font: inherit;
    color: inherit;
}

.icon {
    border-radius: 50%;
    object-fit: cover;
}
