HTML {
    font-size: 62.5%
}

body {
    background: #e3f6d7;
    padding-bottom: 150px;
}

header {
    height: 75px;
    font-size: 1.6rem;
}

main {
    padding: 20px 10px 0;
    text-align: center;
    font-size: 1.6rem;
}

.icon {
    border-radius: 50%;
    object-fit: cover;
}

.button {
    height: 32px;
    width: 60px;
    background-color: #00d20e;
    border-radius: 10px;
}

.button:hover {
    background-color: #00d20e60;
}
