.frame {
    position: absolute;
    background-color: #fcfcfc;
    top: 75px;
    width: 200px;
}

.link {
    color: #39608d;
    text-decoration: none;
    display:block;
    height: 100%;
}

.create_group {
    height: 50px;
}

.create_group:hover {
    background: rgba(0, 0, 0, .1);
}

.create_group_text {
    color: #39608d;
    position: relative;
    top: 17px;
    left: 5px;
}

.select_group {
    border-top:1px solid #bababa;
    height: 60px;
}

.select_group:hover {
    background: rgba(0, 0, 0, .1);
}

.group {
    height: 60px;
    display: flex;
    align-items: center;
}

.name {
    color: #39608d;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}   

.icon {
    margin: 0 5px 0 5px;
}