.content {
    display: flex;
}

.profile_picture {
    border-radius: 50%;
    object-fit: cover;
}

.user_text {
    display:flex;
    flex-flow: column;
    padding-left: 10px;
}

.heading {
    text-align:left;
}

.detail {
    display:flex;
}

.username {
    font-size: large;
}

.ExpandMore_icon {
    margin-top: px;
}