.frame {
    position: absolute;
    background-color: #fcfcfc;
    top: 75px;
    width: 200px;
}

.menubar {
    padding-left: 0;
}

.menu {
    height: 50px;
}

.menu:hover {
    background: rgba(0, 0, 0, .1);
}

.menu_text {
    color: #39608d;
    position: relative;
    top: 17px;
    left: 5px;
}

.signout {
    height: 50px;
    background-color: rgb(255, 72, 0);
}

.signout:hover {
    background: rgba(255, 72, 0, .5);
}

.signout_text {
    color: #fcfcfc;
    position: relative;
    top: 17px;
    left: 5px;
}