.frame {
    background-color: #fcfcfc;
    margin: 100px auto;
    padding: 30px;
    border-radius: 8px;
    width: 500px;
    text-align: center;
}

.header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text {
    margin-bottom: 10px;
}

.groupname {
    padding-bottom: 20px;
}

.fill {
    margin-bottom: 10px;
    border: 1px solid #00000066;
    width: 400px;
    height: 40px;
    font-size: 18px;
}

.group_icon {
    margin-bottom: 10px;
}

.submit {
    margin: 0 auto;
    width: 100px;
    padding: 5px 10px;
    background-color: #00d20e;
    border-radius: 8px;
}

.submit:hover {
    background: rgba(0, 194, 14, .5);
}

.submit_text {
    margin: 0 auto;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}