.heading {
    font-size: 2.0rem;
}

.default_button {
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold;
}

.default_text {
    font-size: 1.6rem;
}

.large_text {
    font-size: 2.4rem;
    word-break: break-word;
}

.middle_text {
    font-size: 2.0rem;
    word-break: break-word;
}

.force_text {
    font-size: 1.8rem;
    font-weight: bold;
}

.weak_text {
    font-size: 1.4rem;
}