.maximum {
    font-size: 2.2rem;
    word-break: break-word;
}

.large {
    font-size: 2.0rem;
    word-break: break-word;
}

.middle {
    font-size: 1.8rem;
}

.minimum {
    font-size: 1.4rem;
}

.button {
    color: #fff;
    font-size: 2.0rem;
    font-weight: bold;
}


.force {
    font-size: 1.8rem;
    font-weight: bold;
}
