.main {
    padding: 20px 10px 0;
}

.content {
    background-color: #fcfcfc;
    margin: 0 auto;
    border-radius: 10px;
    min-width: 480px;
    max-width: 700px;
    padding: 30px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px auto 20px;
}