.frame {
    display: inline-block;
    padding: 8px;
    width: 180px;
    background: #fcfcfc;
    border-radius: 10px;
    text-align: center;
    vertical-align: top;
}

.title {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.member {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.icon {
    margin-right: 5px;
}

@media screen and (max-width:1200px) {
    .frame {
        margin-left: 220px;
        width: 70%;
        max-width: 700px;
        min-width: 480px;
    }

    .member {
        display: inline-flex;
        margin-right: 10px;
    }
}

@media screen and (max-width:850px) {
    .frame {
        margin-left: 0;
    }
}